{% extends 'base.html' %}

{% block title %} Weather {% endblock %}
    
{% block content %}
<style>
.my_city{
    display: flex;
    flex-direction: row
}
.p1{
    margin-left: 70px;
}
.second{
    margin-left: 130px;
}
.www{
    margin-left: 230px;
}
</style>
<div class="container">
    <form action="create/" method="POST" class="input-group mb-3 mt-5">
        {% csrf_token %}
        <input type="text" class="form-control" placeholder="Называния города" aria-label="Recipient's username" aria-describedby="button-addon2"  name="city">
        <button class="btn btn-outline-secondary" type="sumbit" id="button-addon2">Save</button>
    </form>
</div>
<div class="container">
    <h1 class="text-center mt-5">Weather</h1>
    <div class="alert alert-primary" role="alert">
    <!-- city = request.POST.get('city') -->
    <div class="my_city">
        <form action="main/" method="POST"></form>
        <div class="first">
            <img src="https://openweathermap.org/img/wn/{{icon1}}@4x.png" alt="icon">
            <h5 class="temp">{{temp}}°C</h5>
            </div>  
            <p class="p1">Ощушается как:{{like}}°C<br>Влажность:{{humidity}}%</p>
            <div class="second">
            <p class="p1">Максимальная температура:{{max}}°C<br> Минимальная температура:{{min}}°C</p>
            </div>  
            <div class="www">
                <h3>{{name}}</h3>
                <h4>{{discription}}</h4>
            </div>
    </div>
</div>
</div>
{% endblock %}